extends ../layout

//- 프로젝트 등록 페이지
block content
  form(action="/employee/createProject", method="post")
    h1.text-center.mt-5 프로젝트 등록
    .form-group
      .row.align-items-center
        .col.mt-4
          h4 프로젝트명
          input.form-control(type="text", placeholder="프로젝트명을 입력해주세요.", name="name")
      .row.align-items-center.mt-4
        .col
          h4 프로젝트 착수일자
          input.form-control(type="date", name="start_date")
      .row.align-items-center.mt-4
        .col
          h4 프로젝트 종료일자
          input.form-control(type="date", name="end_date")
      .row.align-items-center.mt-4
        .col
          h4 발주처
          input.form-control(type="text", placeholder="발주처를 입력해주세요.", name="organization")
      .row.align-items-center.mt-4
        .col
          h4 예산
          input.form-control(type="text", placeholder="예산을 입력해주세요.", name="budget")
            
      .row.justify-content-start.mt-4
        .col(style="margin-bottom: 1em")
          button.btn.btn-outline-dark(type="submit", style="float: right") 프로젝트 등록