extends layout

block content
    if state == 'manager'
        block projectList
            include ./projectList
    else if state == 'employee'
        block projectList
            include ./projectList
    else
        block content
            include ./pic_view