extends layout

//- 회원가입
block content
  h1.main 회원가입
  form(id="signup" action="/auth/signup", method='post')
    .form-group
      label(for="inputID") 아이디
      input#inputId.form-control(type="id" name="id" placeholder="아이디" required)
      button#checkId.btn(style='float:right') 중복확인
      p#checkresult
    .form-group
      label(for="inputPassword") 패스워드
      input#inputPassword.form-control(type="password" pattern=".{6,20}" name="password" placeholder="비밀번호" required)
    //- .form-group 
    //-   label(for="checkPassword") 패스워드 확인
    //-   input#checkPassword.form-control(type="password" pattern=".{6,20}" name="password" placeholder="비밀번호" required)
    //-   input#checkPasswordBtn.form-control(type="button" value="비밀번호 확인")
    .form-group
      label(for="inputName") 이름
      input#inputName.form-control(type="name" name="name" placeholder="이름" required)
    .form-group
      label(for="resident_number") 주민등록번호
      input#inputAddress.form-control(type="text" name="resident_number" placeholder="주민등록번호"  required)
    .form-group
      label(for="final_edu") 최종학력
      input#inputAddress.form-control(type="text" name="final_edu" placeholder="최종학력"  required)
    .form-group
      label(for="skill") 기술
      input#inputAddress.form-control(type="text" name="skill" placeholder="기술"  required)
    .form-group
      label(for="career") 경력
      input#inputAddress.form-control(type="text" name="career" placeholder="경력"  required)
    .form-group
      label(for="dept") 부서
      select.custom-select(name="dept", size="1")
        option(value='개발 1팀') 개발 1팀
        option(value='개발 2팀') 개발 2팀
        option(value='개발 3팀') 개발 3팀
    button.btn.btn-primary(type="submit") 회원가입
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/signup.js")

    