extends layout

//- 회원가입

block content
  h1.main 회원가입
  form(action="/signup", method='post')
    .form-group
      label(for="inputID") ID
      input#inputId.form-control(type="id" name="id" placeholder="id" required)
    .form-group
      label(for="inputPassword") Password
      input#inputPassword.form-control(type="password" pattern=".{6,20}" name="password" placeholder="Password" required)
    .form-group
      label(for="inputName") Name
      input#inputName.form-control(type="name" name="name" placeholder="Name" required)
    .form-group
      label(for="inputResident_registration_number") Resident_registration_number
      input#inputAddress.form-control(type="text" name="resident_registration_number" placeholder="111111-1111111"  required)
    .form-group
      label(for="inputEducation") Education
      select.custom-select(name="education", size="1")
        option(value='High school graduate') High school graduate
        option(value='University graduation') University graduation
        option(value='Master\'s degree') Master's degree
    if job === 'developer'
      .form-group
        label(for="inputJoincompanydate") Join Company Date
        input#inputJoincompanydate.form-control(type="date" name="joincompanydate" required)
    .form-group
      label(for="inputJob") Job
      input.form-control(type="text" name="job" value=`${job}` readonly)
    button.btn.btn-primary(type="submit") 회원가입