extends ../layout

//- 직원 관리 페이지(경영진)
block content
  h1.text-center.mt-5 Employee
  //- 직원 검색
  div.float-right
    nav.navbar.navbar-light.mt-4.mb-3
      form.form-inline(action='/management/showDeveloper', method='post')
        .col-md-auto.align-items-right(style="padding: 0")
          select.custom-select(name="selected_search_key", size="1")
            option(value='id') ID
            option(value='name') 이름
        input.form-control.mr-sm-2(type="text" name="search_key" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-secondary.my-2.my-sm-0(type="submit") 검색
  //- 검색 전 모든 직원 정보 보여줌, 검색 후 검색된 직원 정보만 보여줌
  div
    form(action='/management/showDeveloper?_method=DELETE', method='POST')
      table.table.pull-center.table-hover(style="width: 90%; margin: auto")
        thead.thead-light
          tr
            th(scope="col")
            th(scope="col") ID
            th(scope="col") 이름
            th(scope="col") 경력
        tbody
          each d in result
            tr
              td
                .form-check
                  input#defaultCheck1.form-check-input(type="checkbox" name="for_deleted" value=`${d[0]}`)
              td
                a(href=`/management/detail/${d[0]}`)= d[0]
              td= d[1]
              td #{moment.duration(moment(new Date()).diff(d[2])).asMonths().toFixed(1)}개월
      button.btn.btn-outline-primary.mr-3.mb-2(type="submit", style="float: right !important") 선택삭제