nav.navbar.navbar-expand-lg.navbar-white.bg-light
  a.navbar-brand.font-weight-bold(href="/") 프람트테크놀로지
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    if state == 'management'
        block manager
            include ./nav_manager
    else if state == 'developer'
        block employee
            include ./nav_employee
    else
        block employee
            include ./nav_employee
    //-   block unauthorized
    //-     include ./unauthorized