block employee
  ul.navbar-nav.mr-auto
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/employee/myprojects")
        | 프로젝트
  ul.navbar-nav
    li.nav-item.active
      aa.btn.btn.btn-outline.ml-md-3.nav-link(href="/mypage") 마이페이지
  a.btn.btn.btn-outline.ml-md-3(href="/signout") 로그아웃