block manager
  ul.navbar-nav
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/manager/searchEmployee")
        | 프로젝트 등록
  ul.navbar-nav.mr-auto
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/manager/searchEmployee")
        | 직원관리
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/manager/searchProject")
        | 프로젝트관리

  ul.navbar-nav
    li.nav-item.active
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/mypage") 마이페이지
  a.btn.btn.btn-outline.ml-md-3(href="/signout") 로그아웃