block unauthorized
  div.navbar-nav.mr-auto
  ul.navbar-nav
    li.nav-item.active
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/auth/signup") 회원가입
    li.nav-item.active
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/auth/login") 로그인